# Ignore python compiled files
*.py[cod]

# Ignore pickle files
*.pkl

# Ignore geo json files
*.geojsonp

# Ignore idea files
.idea/

# Ignore generated js files
Main/resources/*.js
Main/resources/*.js.map
