.stream > svg {
	fill: saddlebrown;
}

.timestream-axis .domain, .timestream-axis .tick line {
	fill: none;
	stroke: saddlebrown;
	stroke-width: 2px;
}

.datastream-points circle {
	fill: deepskyblue;
	fill-opacity: .1;
}

.movementstream-layer1 {
	fill: springgreen;
}

.movementstream-layer2 {
	fill: blueviolet;
}