#global-overview {
    padding: 2em;
}

#global-overview div {
    display: inline;
}

#selection-overview {
    display: none;
    padding: 2em;
}

#schema-settings {
    margin-bottom: 2em;
}

#schema-slider {
    margin-left: 1em;
    width: 50%;
}

.gender-settings {
    margin-bottom: 4em;
}

.gender-settings div {
    display: inline;
    width: 30%;
}

.gull-list {
    height: 100%;
    width: 100%;
    overflow: auto;
    list-style: disc inside;
}

.gull-list li {
    display: inline;
    float: left;
    width: 10%;
    cursor: pointer;
}

.gull-list li:hover,
.gull-list li.selected,
.gull-list li:focus {
    text-decoration: underline;
    font-weight: bold;
}

.female {
    color: #d73027;
}

.male {
    color: #4575b4;
}

#gulls {
    display: inline-block;
    float: right;
    width: 40%;
    z-index: 100;
}

#gulls .gull-list li {
    width: 25%;
}

#gulls .gull-list li:hover,
#gulls .gull-list li.selected,
#gulls .gull-list li:focus {
    text-decoration: underline;
    font-weight: bold;
}

#calendar-map {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    width: 55%;
    z-index: 50;
}

.day {
    stroke: #666;
}

.day.selected {
    fill: rgb(253,174,97);
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.selected-time-range {
    fill: none;
    stroke: rgb(253,174,97);
    stroke-width: 2px;
}

#calendar-map rect {
    cursor: pointer;
}